.top {
    padding: 25px 0;
    text-align: center;
}
.search {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
input {
    text-align: center;
    width: 50%;
    padding: .7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid #848B98;
    background: rgba(255, 255, 255, 0.1);
    background-color: #ffffff;
 }
.header {
    background: #fd9a80;
    border-radius: 15px;
    margin: 15px;
    padding: 5px;
    color: #fff;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
}
.flex {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: auto;
    margin-bottom: 25px;
}
.bold {
    font-size: 23px;
}
@media screen and (min-width: 1440px) {
    .header {
        margin-left: 15%;
        width: 70%;
    }
    .forecast {
        margin-left: 20%;
    }
    .flex {
        margin-left: 20%;
    }
}
.svg-inline--fa {
    margin-left: 8px!important;
}
.forecast {
    display: flex;
    align-items: center;
    overflow-x: auto;
    gap: 20px;
}
.forecast h1 {
    width: 50px;
    height: 50px;
}
.select {
    margin-left: 25%;
    text-align: center;
    width: 125px;
    padding: 5px 5px;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid #848B98;
    background: rgba(255, 255, 255, 0.1);
    background-color: #ffffff;
}